.search {
	font-size: 30px;
	margin-top: 180px;
	text-align: center;
	text-size-adjust: 100px;
}

.cluster-header {
	text-align: center;
	color: white;
	background-color: #914165;
	height: 325px;
	padding-top: 100px;
	margin-bottom: -150px;
}
